.Items {
  @include flex;
  box-shadow: 5px 10px 20px hsla(235, 19%, 35%, 0.2);
  @include themify($themes) {
    background: themed("boxBackground");
    color: themed("textColor");
  }
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 2rem;
  p {
    user-select: none;
  }
  transition: background 0.2s, color 1s;

  .item {
    @include flex($justify: space-between, $direction: row);

    padding: 1.5em 2em;
    width: 100%;
    gap: 2em;
    @include themify($themes) {
      border-bottom: 1px solid themed("borderColor");
    }

    &--active {
      text-decoration: line-through;
      @include themify($themes) {
        color: themed("textActionColor");
      }
    }
    &--invisible {
      visibility: hidden;
      display: none;
    }
  }
}

.item-box {
  @include flex($direction: row);
  gap: 1rem;
}

.actions {
  @include flex($justify: space-around, $direction: row);
  @include size(100%);
  padding: 1.5em 2em;
  text-align: center;
  position: relative;
  font-size: 14px;
  @media (min-width: $screen-sm) {
    padding: 0.5em 1em;
  }

  @include themify($themes) {
    color: themed("textActionColor");
  }

  transition: color 1s;

  .action {
   
    @include flex($direction: row);
    gap: 1.5em;
    position: absolute;
    bottom: -120%;
    padding: 1.5em 0.5em;
    @include themify($themes) {
      background-color: themed("boxBackground");
    }

    transition: background-color 0.2s;

    border-radius: 0.5em;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: $screen-sm) {
      position: static;
      box-shadow: none;
      flex: 1;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
