//abstracts
@import "./sass/abstracts/minxins";
@import "./sass/abstracts/theme";
@import "./sass/abstracts/variables";

//components
@import "./sass/components/backgroundImage";
@import "./sass/components/input";
@import "./sass/components/item";
@import "./sass/components/circle";
@import "./sass/components/button";
@import "./sass/components/click";


//layout
@import "./sass/layout/index";
@import "./sass/layout/main";
@import "./sass/layout/header";

//font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$font-family: "Inter";


@import url("https://fonts.google.com/specimen/Josefin+Sans");

$Josefin : "Josefin Sans";




html {
  font-family:"Inter", sans-serif;
  background-color: var(--background-color);
}

.app {
  max-height: 100vh;
  @include flex($justify: flex-start);

  z-index: -2;
}

