@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --background-color: hsl(0, 0%, 98%);
}

[data-theme=dark] {
  --background-color: hsl(235, 21%, 11%);
}

.bg-header {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 30vh;
  z-index: -1;
}

.bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 1.5em 2em;
  gap: 2em;
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 2rem;
}
.theme-light .box {
  background: hsl(0, 0%, 98%);
  color: #000;
}
.theme-dark .box {
  background: hsl(235, 24%, 19%);
  color: #eff2f7;
}

#message {
  width: 80%;
  outline: none;
  border: none;
  font-size: 16px;
  background-color: transparent;
}
.theme-light #message {
  color: #000;
}
.theme-dark #message {
  color: #eff2f7;
}

.Items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 2rem;
}
.theme-light .Items {
  background: hsl(0, 0%, 98%);
  color: #000;
}
.theme-dark .Items {
  background: hsl(235, 24%, 19%);
  color: #eff2f7;
}
.Items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.5em 2em;
  width: 100%;
  gap: 2em;
}
.theme-light .Items .item {
  border-bottom: 1px solid hsl(233, 11%, 84%);
}
.theme-dark .Items .item {
  border-bottom: 1px solid hsl(237, 14%, 26%);
}
.Items .item--active {
  text-decoration: line-through;
}
.theme-light .Items .item--active {
  color: hsl(236, 9%, 61%);
}
.theme-dark .Items .item--active {
  color: hsl(234, 11%, 52%);
}
.Items .item--invisible {
  visibility: hidden;
  display: none;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1.5em 2em;
  text-align: center;
  font-size: 14px;
}
@media (min-width: 36em) {
  .actions {
    padding: 0.5em 1em;
  }
}
.actions .action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  position: absolute;
  bottom: -30%;
  padding: 1.5em 0.5em;
  border-radius: 0.5em;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.theme-light .actions .action {
  background: hsl(0, 0%, 98%);
  color: #000;
}
.theme-dark .actions .action {
  background: hsl(235, 24%, 19%);
  color: #eff2f7;
}
@media (min-width: 36em) {
  .actions .action {
    position: static;
    box-shadow: none;
    flex: 1;
    background: transparent;
  }
}

.circle {
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.theme-light .circle {
  border: 1px solid hsl(233, 11%, 84%);
}
.theme-dark .circle {
  border: 1px solid hsl(237, 14%, 26%);
}
.circle--active {
  background: linear-gradient(115deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
}

.btn {
  outline: none;
  border: none;
}
.btn--transparent {
  background-color: transparent;
}

.layout {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  z-index: 0;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 48em) {
  .layout {
    width: 50%;
    height: 100vh;
  }
}

main {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.footer {
  width: 100%;
  z-index: 99;
  height: 78px;
  display: flex;
}
.theme-light .footer {
  color: #000;
}
.theme-dark .footer {
  color: #eff2f7;
}
.footer .footer-content {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

.app {
  max-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: -2;
}

.click {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */